.header{
	font-size: 30px;
	color: #FFFFFF;
}
.h1 {
	margin-top: 50px;
	margin-left: 10px;
}
.border {
	margin-top: 20px;
}

.border2{
	margin-top: 15px;
	margin-bottom: 15px;
}

.text { 
	font-size: 30px;
}

.button {
	margin-top: 20px;
	margin-bottom: 100px;

}
.text1 {
	color:  #FFFFFF;
}